#title {
  font-family: sans-serif;
}

.color {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#orange {
  background-color: orange;
}

#palevioletred {
  background-color: palevioletred;
}

#purple {
  background-color: purple;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.btn-jogar {
  padding: 8px 15px;
  margin-top: 30px;
  border: 0;
  background-color: rgb(255, 1, 1);
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-family: sans-serif;
}

